@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');

.item-detail{
    font-family: 'Mate', serif;
    color: rgb(154, 152, 152);
    margin: 30px 0px 5px 20px;
    padding: 0px;
    text-align: center;
}

img{
    padding-top: 10px;
}
