.carrito {
   width: 100px;
   height: 60px;
   object-fit: cover;
   overflow: hidden;
   padding-top: 20px;
}

strong {
    color: rgb(144, 52, 18);
    font-size: 20px;
    padding-right: 50px;
    padding-bottom: 10px;
}