@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');

.producto-container {
    font-family: 'Mate', serif;
    color: rgb(154, 152, 152);
    font-size: 1rem;
    text-align: center;
    padding: 20px;
    width: 150px;
  }

.imgProducto {
    width: 150px;
    height: 230px;
    object-fit:contain;
}

h3 {
    height: 30px;
    margin-top: 5px;
}

p {
    margin: 5px;
}

.btnProducto {
    background-color: rgb(70, 66, 66);
    color: white;
    font-size: 1.2rem;
    font-family: 'Mate', serif;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
