@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');

.checkout-form {
    font-family: 'Mate', serif;
    color: rgb(202, 202, 202);
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 5px 5px;
    border: 1px solid rgb(154, 168, 73);
    border-radius: 5px;
    background-color: rgb(36, 35, 35)
  }
  
  .checkout-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(154, 168, 73);
    border-radius: 5px;
    background-color: #bab8b8;
  }
  
  .checkout-button {
    background-color: rgb(154, 168, 73);
    color: white;
    width: 50%;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;;
  }
  
  .checkout-button:hover {
    background-color: #a23535;
  }

  .confirmacion{
    font-family: 'Mate', serif;
    font-size: large;
    margin-top: 30px;
    color: rgb(154, 168, 73);
  }