@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(154, 168, 73);
    background-image: linear-gradient(to right, #23291d, #000000);
    font-family: 'Mate', serif;
    color:rgb(83, 108, 14);
}

h1 {
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #1c280f;
    border-radius: 20px;
    padding: 0.5em 1em;
    
}

li {
    display: inline-block;
    margin: 2rem;
    margin-top: 30px;
    cursor: pointer;
    font-size: 24px;
    color: rgb(107, 122, 4);
    font-family: 'Mate', serif;
}